<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jeannies Testblog</title>
  </head>
  <body>
    <div class="">
      <p><em>pubished 03.12.2020, 19:45</em></br>
      the year of corona</p>
      <h1>My first Blog</h1>
      <p>let the  game beginn</p>
    </div>
    {% for Post in posts %}
    <div class="">
      <p><em>published: {{ Post.published_date }}</em></p>
      <h2><a href="">{{ Post.titel }}</a></h2>
      <p>{{ Post.text|linebreaksbr }}</p>
    </div>
      {% endfor %}


  </body>
</html>
